{% extends 'layout.html' %}

{% block content %}

      <div class="jumbotron">
        <h2>Hello {{request.user.username}}</h2>
        <p>Its another app to maintain your personal contacts.</p>
        <p><a href="{% url 'new_contact' %}" class="btn btn-primary btn-lg" >Add new</a></p>
      </div>

      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First Name</th><th>Last Name</th><th>IBAN</th><th>Actions</th>
            </tr>
            </thead>
          <tbody>
            {% for contact in contacts%}
            <tr>
              <td>{{contact.first_name}}</td>
              <td>{{contact.last_name}}</td>
              <td>{{contact.iban}}</td>
              <td><a href="{% url 'update_contact' contact.id %}">edit</a> | 
                  <a href="{% url 'delete_contact' contact.id %}">delete</a>
              </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>


      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add new contact</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="first_name" class="col-sm-2 control-label">First Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="first_name" placeholder="First Name" name="first_name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="last_name" class="col-sm-2 control-label">Last Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="last_name" placeholder="Last Name" name="last_name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="iban" class="col-sm-2 control-label">Last Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="iban" placeholder="iban" name="iban">
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="save_contact">Save</button>
            </div>
          </div>
        </div>
      </div>


      <footer class="footer">
        <p>&copy; 2016 Demo Company, Inc.</p>
      </footer>
{% endblock %}
