<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="kartheek karnati">

    <title>My contacts | Login</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
          <h2>My contacts</h2>
          <p>Its another app to maintain personal contacts</p>
          <p>
            <a role="button" href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-lg btn-primary">Login with Google »</a>
          </p>
        </div>
    </div>
  </body>

</html>